body textarea{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans';
}
header {
    width: 100%;
    height: 80px;
  }
body{
    font-size: 1em;
    background-color: #22212C;
}
@media (max-width: 768px) {
    header {
      height: 60px;
    }
  }
h1,h2,h3,h4{
    color: #837E9F;
}
aside{
    width: 348px;
    margin-left: 20px;
}
a{
    
    text-decoration:none;
}

  
  @keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }
.box{
    background: #302F3D;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}
.navebar-contermer{
 
    display: flex ;
    flex-direction: column;
    padding: 0.5em 0;
    width: 329px;
    height: auto;
}
.navebar-contermer div{
list-style: none;

margin-bottom: 30px;
   
}
.profile{
    width: auto;
    height: 292px;
    left: 40px;
    top: 40px;
}.profile a{
    position: absolute;
    left: 110px;
     top: 32px;
}
.foto {
    border-radius: 50em;
    padding: 64px 64px;
    background: url(image.png);
    border: 2px solid #00FF00;
}

.profile h1{ 
    position: absolute;
    width: 196px;
    height: 26px;
    left: 110px;
    top: 160px;
    font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 29px;
}
.profile h3{
    position: absolute;
height: 17px;
left: 120px;
top: 206px;
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 16px;
}
.link{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 348px;
    left: 40px;
    top: 362px;
margin-bottom: 30px;
}

.link a h3{
    margin-left: 30px;
    margin-top: -25px;
}

.link a{
    margin-bottom: 20px;
    margin-left: 40px;
    width: 24px;
    height: 24px;
    color:  #837E9F;
}
.link .linkedin h3{
    width: 150px;
    height: 100px;
}
.link .globe{
    margin-top: 30px;
}
.contermerTec{ 
    display: flex;
    box-shadow:none;
}

.tech-info{
    width: auto;
    height: auto;
}
.tech-info h2{

width: 121px;
height: 26px;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
margin-left: 20px;
margin-bottom: 30px;
}
.tech-contermer a  {
    display: flex;
    width: 86px;
    height: 24px;
    background: #CB92B1;
    border-radius: 30px;
    margin-bottom: 15px;
    margin-left: 30px;
    
}

.tech-contermer h3{
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    text-align: center;
}
.tech2-contermer a  {
    display: flex;
    width: 86px;
    height: 24px;
    background: #CB92B1;
    border-radius: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
    
}
.tech2-contermer h3{
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    text-align: center;
}
.tech3-contermer a  {
    display: flex;
    width: 86px;
    height: 24px;
    background: #CB92B1;
    border-radius: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
    
}
.tech3-contermer h3{
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    text-align: center;
}
.Experiences-contermer{
    width: auto;
}

.Experiences-contermer h2{
    width: 121px;
height: 26px;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
margin-left: 20px;
margin-bottom: 30px;
 
}
.Experiences-contermer li{
    margin-left: 40px;
    
}
.Experiences-contermer li h3{
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
    color: #837E9F;
    width: auto;
height:0.01px;
margin-top:25px ;

}
.Experiences-contermer li h4{
    margin-left: 10px;
    width: auto;
    height:10px;
    font-weight: 700;
    font-size: 10px;
    line-height: 25px;
    color: #837E9F;
    
}


.Education{
     position: flex;
     width: auto;;
    height: auto;
    left: 40px;
    top: 1357px;
   margin-bottom: 50px;

}

.Education li {
    
    margin-left: 40px;
}
.Education h2{
    width: 121px;
    height: 26px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.Education li h3{
     font-style: normal;
    font-size: 15px;
    line-height: 15px;
    color: #837E9F;
    width: auto;
height:1px;
}
.Education li h4{
      margin-left: 10px;
    width: auto;
    height:10px;
    font-weight: 700;
    font-size: 10px;
    line-height: 25px;
    color: #837E9F;
    
}
.main{
    display: flex;
    width: auto;
    height: auto;
    position: absolute;
    left: 380px;
    top: 40px;
    flex-direction: column;
}

.myProjects{
    
    width: 920px;
    height: 86px;
}
.flex{
    display: flex;
    
}

.myProjects  h2{
    position: relative;
    top: 14px;
    margin-left: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}
.myProjects a h4{
    position: relative;
    top: 14px;
    margin-left: 720px;
    height: 18px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
}
.contermer{
    display: flex ;
  margin-top: 50px;

}
.projects{
    width: 431px;
    height: 186px;
}
.projects2{
      margin-left: 20px;
    width: 431px;
    height: 186px;
   
}


.repo-item {
    display: flex;
   width: auto;
   height: auto;
    flex-direction: column;
  }
  .repo-item a{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #837E9F;
    width: 79px;
    height: 17px;
    margin-left: 10px;
  }
  .repo-item h3{
    position: relative;
    top: -15px;
    width: auto;
    height: auto;
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

}
.repo-item svg{
    width: 20px;
    height: 20px;
    bottom: 12.5%;
   color: #837E9F;
}
.arquivo{
    margin-top: 31px;
    margin-left: 30px;
}
.linguagem{
    width: auto;
    height: auto;
    display: flex;
    margin-top: 80px;
    margin-left: 339px;
 
}
  .language-circle {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border-radius: 50%;
  }
  
  .language-javascript {
    
    background-color: #f1e05a;
  }
  
  .language-python {
   
    background-color: #3572a5;
  }
  
  .language-java {
    
    background-color: #b07219;
  }
.language-html{
    
    background-color: #e34c26;
}
.language-css{
    background-color: #563d7c;
}
  