body textarea{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans';
}
body{
    
    background-color: #22212C;
}
h1,h2,h3,h4{
    color: #837E9F;
}
aside{
    margin-left: 20px;
}
a{
    
    text-decoration:none;
}
.box{
    background: #302F3D;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}
.navebar-contermer{
    display: flex ;
    flex-direction: column;
    padding: 0.5em 0;
    width: 348px;
    height: 100%;
}
.navebar-contermer div{
list-style: none;
margin-bottom: 30px;
   
}
.profile{
    width: 348px;
    height: 292px;
    left: 40px;
    top: 40px;
}.profile a{
    position: absolute;
    left: 110px;
     top: 32px;
}
.foto {
    border-radius: 50em;
    padding: 64px 64px;
    background: url(image.png);
    border: 2px solid #00FF00;
}

.profile h1{ 
    position: absolute;
    width: 196px;
    height: 26px;
    left: 110px;
    top: 160px;
    font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 29px;
}
.profile h3{
    position: absolute;
height: 17px;
left: 120px;
top: 206px;
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 16px;
}
.link{
    display: flex;
    flex-direction: column;
    width: 348px;
    height: 348px;
    left: 40px;
    top: 362px;
margin-bottom: 30px;
}

.link a h3{
    margin-left: 30px;
    margin-top: -25px;
}

.link a{
    margin-bottom: 20px;
    margin-left: 40px;
    width: 24px;
    height: 24px;
    color:  #837E9F;
}
.link .linkedin h3{
    width: 150px;
    height: 100px;
}
.link .globe{
    margin-top: 30px;
}
.contermerTec{ 
    display: flex;
    box-shadow:none;
}


.tech-info h2{

width: 121px;
height: 26px;
left: 30px;
top: 710px;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 25px;
margin-left: 20px;
margin-bottom: 30px;




}
.tech-contermer a  {
    display: flex;
    width: 86px;
    height: 24px;
    background: #CB92B1;
    border-radius: 30px;
    margin-bottom: 15px;
    margin-left: 30px;
    
}

.tech-contermer h3{
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    text-align: center;
}
.tech2-contermer a  {
    display: flex;
    width: 86px;
    height: 24px;
    background: #CB92B1;
    border-radius: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
    
}
.tech2-contermer h3{
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    text-align: center;
}
.tech3-contermer a  {
    display: flex;
    width: 86px;
    height: 24px;
    background: #CB92B1;
    border-radius: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
    
}
.tech3-contermer h3{
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    text-align: center;
}

.Experiences-contermer h2{
    margin-left: 20px;
 
}
.Experiences-contermer li{
    margin-left: 40px;
    
}
.Experiences-contermer li h3{
    font-style: normal;
    font-size: 15px;
    line-height: 15px;
    color: #837E9F;
    width: auto;
height:0.01px;
margin-top:25px ;

}
.Experiences-contermer li h4{
    margin-left: 10px;
    width: auto;
    height:10px;
    font-weight: 700;
    font-size: 10px;
    line-height: 25px;
    color: #837E9F;
    
}


.Education{
     position: flex;
    width: 348px;
    height: 352px;
    left: 40px;
    top: 1357px;
   margin-bottom: 50px;

}

.Education li {
    
    margin-left: 40px;
}
.Education li h3{
     font-style: normal;
    font-size: 15px;
    line-height: 15px;
    color: #837E9F;
    width: auto;
height:1px;
}
.Education li h4{
      margin-left: 10px;
    width: auto;
    height:10px;
    font-weight: 700;
    font-size: 10px;
    line-height: 25px;
    color: #837E9F;
    
}
.main{
    width: auto;
    height: auto;
}

.myProjects{

    width: 952px;
    height: 86px;
    left: 418px;
    top: 40px;
    position: absolute;



}
.myProjects  h2{
        margin-left: 30px;
    margin-top: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    display: inline-block;


}
.myProjects a h4{
    margin-left: 740px;
    width: 71px;
    height: 18px;
    display: inline-block;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
}
.contermer{
    display: flex ;
  margin-top: 50px;


        
 
}
.projects{
    width: 461px;
    height: 186px;
}
.projects2{
      margin-left: 30px;
    width: 461px;
    height: 186px;
   
}
