.skills{
    border-radius: 8px;
    overflow: hidden;
    background: var(--gray-800);
    margin-top: 5rem;
    
    
    strong{
        
        display: flex;
        align-items: center;
        justify-content: center;

      
    }
    .container{
        display: flex;
        
        justify-content: center;
      
        
    }
    div{
        margin-top: 0.5rem;
        + div {
            margin-left: 1rem;
        }
        
       
        
            a{
                pointer-events: auto;
                font-size: 16px;
                margin-bottom: 1rem;
                background: transparent;
                color: var(--green-500);
                border: 1px solid var(--green-500) ;
                border-radius: 8px;
                width:86px ;
                height: 40px;
                padding: 0 1.5rem;
                font-weight: bold;
                display: block;
                text-decoration: none;
        
                display: flex;
                align-items: center;
                justify-content: center;
        
                gap: 0.4rem;
                transition: color 0.2s, background-color 0.2s ;

               
            }
            a:hover{
        
                background-color: var(--green-500);
                color: var(--white);
            }
          
        
    }
}

@media(max-width: 768px){

    .container{
      
        justify-content: center;

        div{
            + div{
                margin-left: 2rem;
            }
        }
    }

}